:root{
	--color-primary:  #103f4d;
	--color-primary-light:  hsl(242, 91%, 69%, 18%);
	--color-primary-variant: #338063 ;
	--color-primary2: #c0f0d5;	
	--color-red: #87221c;
	--color-red-light: hsl(346,87%,46%,15%);
	--color-green: #094224;
	--color-green-light: hsl(156,100%,38%,35%);
	--color-grey-900: #1e1e66;
	--color-grey-700: #2d2b7c;	
	--color-grey-300: rgba(242,242,254,0.3);
	--color-grey-200: rgba(242,242,254,0.3);
	--color-white: #f2f2fe;
	--color-yellow: #ebeb3d;
	--color-yellow-green: #8a8a1d;
	--color-bg: #0f0f3e;
	--color-bg2: #27274f;
	--color-bg3: #080863;
	--color-bg4: #2a3e5e;

	--transition: all 300ms ease; 

	--container-width-lg: 74%; 
	--container-width-md: 90%; 
	--form-width: 40%;

	--card-border-radius-1: 0.3rem; 
	--card-border-radius-2: 0.5rem; 
	--card-border-radius-3: 0.8rem; 
	--card-border-radius-4: 2rem; 
	--card-border-radius-5: 5rem;
}
body{
	background: lightgrey;
	align-items: center;
	
	height: 150vh;
}	


section h2{
	text-align: center;
	margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
	line-height: 1.2;
}
h1{
	font-size: 2.4rem;
}
h2{
	font-size: 2rem;	
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.3rem;
}
.wrapper .users header a{
	color: Black;
	transition:  var(--transition);	
	border: 1px solid black;
	text-decoration: none;
	padding: 0.4rem 0.4rem;
	background: ghostwhite;
	border-radius: 10px;
}
.wrapper .users header a:hover{
	border: 2px solid lightcyan;
}

.btn{
	display: inline-block;
	background: var(--color-white);
	color: black;
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
}
.btn:hover{
	background: transparent;
	color: var(--color-white);
	border-color: var(--color-white);
}
.btn-primary{
	background: var(--color-red);
	color: var(--color-white);
}

.wrapper{
	
	width: 520px;
	top: 2rem;
	left: 30%;
	border: 1px solid grey;
	box-shadow: 0 0.5rem 0.5rem grey;
	background: var(--color-primary-variant);
	position: relative;
	border-radius: 1rem;
	transition: var(--transition);
	color: white;
	display: flex;
	align-items: center;
	margin-bottom: 9rem;
	text-align: center;
	
}
.wrapper:hover{
	box-shadow: none;	
}
.wrapper .users{
	position: relative;
	display: flex;	
	right: 0;
}
.wrapper img{
	display: block;
	width: 50%;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid whitesmoke;
}

.wrapper .chat-area header{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
}
.chat-area header img{
	height: 45px;
	width: 45px;
}
.chat-area header .back-icon span{
	font-size: 40px;
	color: #333;
	margin-right: 1rem;
}
.chat-area header span{
	font-size: 17px;
	font-weight: 600;
	padding-top: 10px;
}
.chat-box {
	height: 500px;		
	color: black;
	align-items: center;
	text-align: center;
	position: relative;
	object-fit: cover;
	margin-bottom: 2rem;
	background: floralwhite;
	width: 500px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	
}
.chat-box .chat:last-child{
	
	width: 100%;
	margin-bottom: 2rem;
	
}

.chat-box .chat p{
	padding: 10px 16px;
	text-align: left;
	box-shadow: box-shadow: 0 0.5rem 0.5rem grey;
	word-wrap: break-word;

}
.chat-box .outgoing{
	display: flex;
	align-items: flex-end;
	
}
.outgoing .details{
	margin-left: auto;
	max-width: calc(100% - 130px);
}
.outgoing .details p{
	background: #333;
	color: whitesmoke;
	border-radius: 25px 25px 0 25px;
} 
.chat-box .incoming{
	display: flex;
	align-items: flex-end;
}
.chat-box .incoming img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 1px solid grey;
	margin-right: 5px;
}
.incoming .details p{
	background: lightgrey;
	color: #333;
	border-radius: 25px 25px 25px 0;

}
.incoming .details{
	margin-right: auto;
	max-width: calc(100% - 130px);
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
	width: 0px;
}
.chat-area .typing-area{
	padding: 18px 30px;
	display: flex;
	justify-content: space-between;

}
.typing-area input{
	height: 45px;
	width: calc(100% - 58px);
	font-size: 17px;
	border: 1px solid #ccc;
	padding: 0 13px;
	border-radius: 5px;
	outline: none;
	border-radius: 10px 0 0 10px;
}
.typing-area button{
	width: 55px;
	border: none;
	outline: none;
	margin-left: 5px;
	font-size: 19px;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}