:root{
	--color-primary:  #103f4d;
	--color-primary-light:  hsl(242, 91%, 69%, 18%);
	--color-primary-variant: #338063 ;
	--color-primary2: #c0f0d5;	
	--color-red: #87221c;
	--color-red-light: hsl(346,87%,46%,15%);
	--color-green: #094224;
	--color-green-light: hsl(156,100%,38%,35%);
	--color-grey-900: #1e1e66;
	--color-grey-700: #2d2b7c;	
	--color-grey-300: rgba(242,242,254,0.3);
	--color-grey-200: rgba(242,242,254,0.3);
	--color-white: #f2f2fe;
	--color-yellow: #ebeb3d;
	--color-yellow-green: #8a8a1d;
	--color-bg: #0f0f3e;
	--color-bg2: #27274f;
	--color-bg3: #080863;
	--color-bg4: #2a3e5e;

	--transition: all 300ms ease; 

	--container-width-lg: 74%; 
	--container-width-md: 90%; 
	--form-width: 40%;

	--card-border-radius-1: 0.3rem; 
	--card-border-radius-2: 0.5rem; 
	--card-border-radius-3: 0.8rem; 
	--card-border-radius-4: 2rem; 
	--card-border-radius-5: 5rem;
}
*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;

}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: white;
	overflow-x: hidden;
	background: var(--color-bg);
	font-size: 0.9rem;
}
.container {
	width: var(--container-width-lg);
	max-width: 1800px;
	margin:0 auto;	
}
section{
	padding: 2rem 0;
	margin-top: 0rem;
	width: 100vw;
	
}
section h2{
	text-align: center;
	margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
	line-height: 1.2;
}
h1{
	font-size: 2.4rem;
}
h2{
	font-size: 2rem;	
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.3rem;
}
a{
	color: var(--color-white);
	transition:  var(--transition);
}
img{
	display: block;
	width: 100%;
	object-fit: cover;
}
.btn{
	display: inline-block;
	background: var(--color-white);
	color: black;
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
}
.btn:hover{
	background: transparent;
	color: var(--color-white);
	border-color: var(--color-white);
}
.btn-primary{
	background: var(--color-red);
	color: var(--color-white);
}


nav{
	background: transparent;
	width: 100vw;
	height: 5rem;
	position: fixed;
	top: 0;
	z-index: 11;
	padding: 0.5% 2%;	
}

.window-scroll{
	background: var(--color-primary);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: black;
	padding: 0.5% 2%;
}
nav button{
	display: none;
}
.nav_container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.avatar{
	width: 2.5rem;	
	height: 2.5rem;
	border-radius: 50%;
	overflow: hidden;
	border: 0.1rem solid var(--color-white);
	right: 5%;

}
.nav_logo{
	font-weight: 600;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Rubik Moonrocks', cursive;
	color: var(--color-yellow);
}
.nav_items{
	display: flex;
	align-items: center;
	gap:  4rem;
	right: 2%;
	padding-right: 10%;
}
.nav_items a{
	font-size: 0.9rem;
	transition: var(--transition);
}
.nav_items a:hover{
	color: var(--color-yellow-green);
}
.nav_profile{
	position: relative;
	cursor: pointer;

}
.nav_profile ul{
	position: absolute;
	top: 125%;
	right: 2%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);	
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);
}

.nav_profile:hover ul{
	visibility: visible;
	opacity: 1;
}
/*.nav_profile ul li a{
	padding: 1rem;
	background: var(--color-grey-900);
	display: inline-block;
	width: 100%;
}
.nav_profile ul li:last-child a{
	background: var(--color-red);
	color: var(--color-white);
}
.nav_profile ul li:last-child a:hover{
	background: var(--color-red);
	color: var(--color-green);
}*/
.login-btn{
	background: var(--color-primary2);
	color: black;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 0.8rem;
	padding-right: 1rem;
	padding-left: 1rem;
	transition: var(--transition);
	text-align: center;
}	
.login-btn:hover{
	background: var(--color-green-light);
	color: white;
	border: 1px solid var(--color-green-light);
	border-radius: 10px;
	cursor: pointer;
}

header{
	position: relative;
	top: 5rem;
	overflow: hidden;
	height: 80vh;
	margin-bottom: 5rem;

}
.header_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 5rem;
	height: 100%;
}
.header_left p{
	margin: 1rem 0 2.4rem;

}
.header_left a{
	background: var(--color-red);
	color: var(--color-white);
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 0.8rem 2rem;
	transition: var(--transition);
}
.header_left a:hover{
	background: var(--color-white);
	color: black;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	padding: 0.8rem 2rem;
	cursor: pointer;
}

.features{
	background: var(--color-bg2);
	height: 29rem;
	padding-right: 0;
}
.features h1{
	line-height: 1;
	margin-bottom: 3rem;
}
.features_container{
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 4rem;
}
.features_left{
	margin: 1rem 0 3rem;
	padding-left: 7rem;
	padding-right: 10%;
}
.features_right{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem;
	padding-right: 8rem;
}
.feature{
	background: var(--color-primary-light);
	padding: 2rem;
	border-radius: 2rem;
	transition: var(--transition);
}
.feature:hover{
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);

}
.feature_icon{
	background: var(--color-primary-light);
	padding: 0.7rem;
	border-radius: 1rem;
}
.feature h5{
	margin: 2rem 0 1rem;
}
.feature p{
	font-size: 0.85rem;
}
.feature:nth-child(1) .feature_icon{
	background: var(--color-yellow-green);
}
.feature:nth-child(2) .feature_icon{
	background: var(--color-red);
} 
.feature:nth-child(3) .feature_icon{
	background: var(--color-green);
} 

.articles{
	margin-top: 0.8rem;
}
.articles_container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.singleArticle{
	background: var(--color-bg4);	
	text-align: center;
	border: 1px solid var(--color-bg4);
	transition: var(--transition);
	border-radius: 10px;
}
.singleArticle:hover{
	background: transparent;
	text-align: center;
	border: 1px solid var(--color-primary-variant);	
}

.article_image img{
	display: block;
	width: 100%;
	border-radius: 10px;

}
.article_info{
	padding: 2rem;

}
.article_info p{
	margin: 1.2rem 0 2rem;
	font-size: 0.9rem;
}
.article_info a{
	background: var(--color-primary2);
	color: black;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 0.8rem;
	transition: var(--transition);
}
.article_info a:hover{
	background: var(--color-green-light);
	color: whitesmoke;
	border: 1px solid var(--color-green-light);
	border-radius: 10px;
	padding: 0.8rem;
	cursor: pointer;
}
.footer{
	background: var(--color-bg2);
	padding-top: 4rem;
	font-size: 0.9rem;
	padding-bottom: 1rem;
}
.footer_container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5rem;
}
.footer_container > div h4{
	margin-bottom: 1.2rem;
}
.footer1 {
	margin: 0 0 2rem;
}
.footer ul li{
	margin-bottom: o.7rem;
}
.footer1 a:hover{
	text-decoration: underline;
}

.footer ul li a:hover{
	text-decoration: underline;
	transition: var(--transition);
}
.footer_socials{
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	margin-top: 2rem;
}
.footer_copyright{
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding: 1.2rem;
	border-top: 1px solid var(--color-primary-light);
}



@media (max-width: 1024px){
	.container{
		width: var(--container-width-md);
	}
	h1{
		font-size: 2.2rem;
	}
	h2{
		font-size: 1.7rem;
	}
	h3{
		font-size: 1.4rem;
	}
	h4{
		font-size: 1.2rem;
	}

	nav button{
		display: inline-block;
		background: transparent;
		padding-right: 1rem;
		font-size: 1.8rem;
		color: var(--color-white);
		cursor: pointer;
		
	}
	.close_menu{
		display: none;
	}
	.nav_items{
		position: fixed;
		top: 5rem;
		right: 5%;
		height: fit-content;
		width: 18rem;
		flex-direction: column;
		gap: 0;
		display: none;		
	}

	.nav_items li{
		width: 100%;
		height: 5.8rem;
		border: 0.2px solid black;

	}
	.nav_items li a{
		background: var(--color-primary);
		box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
	}
	.nav_items li a:hover{
		background: var(--color-primary2);
	}

	header{
		height: 52vh;
		margin-bottom: 15rem;
	}
	.header_container{
		gap: 0;
		padding-bottom: 3rem;
		margin-bottom: 4rem;		
	}
	.header_left a{
		margin-bottom: 10rem;
		padding-right: 10rem;
		padding-left: 10rem;
	}

	.features{
		height: auto;
	}
	.features_container{
		grid-template-columns: 1fr;
		gap: 3rem;
		align-items: center;
	}
	.feature{
		padding-left: 3rem;
		align-items: center;
	}
	.features_left{
		padding-left: 7rem;
	}


}
