:root{
	--color-primary:  #103f4d;
	--color-primary-light:  hsl(242, 91%, 69%, 18%);
	--color-primary-variant: #338063 ;
	--color-primary2: #c0f0d5;	
	--color-red: #87221c;
	--color-red-light: hsl(346,87%,46%,15%);
	--color-green: #094224;
	--color-green-light: hsl(156,100%,38%,35%);
	--color-grey-900: #1e1e66;
	--color-grey-700: #2d2b7c;	
	--color-grey-300: rgba(242,242,254,0.3);
	--color-grey-200: rgba(242,242,254,0.3);
	--color-white: #f2f2fe;
	--color-yellow: #ebeb3d;
	--color-yellow-green: #8a8a1d;
	--color-bg: #0f0f3e;
	--color-bg2: #27274f;
	--color-bg3: #080863;
	--color-bg4: #2a3e5e;

	--transition: all 300ms ease; 

	--container-width-lg: 74%; 
	--container-width-md: 90%; 
	--form-width: 40%;

	--card-border-radius-1: 0.3rem; 
	--card-border-radius-2: 0.5rem; 
	--card-border-radius-3: 0.8rem; 
	--card-border-radius-4: 2rem; 
	--card-border-radius-5: 5rem;
}
*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;

}
body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: white;
	overflow-x: hidden;
	background: var(--color-bg);
	font-size: 0.9rem;
}
.container {
	width: var(--container-width-lg);
	max-width: 1800px;
	margin:0 auto;
}
section{
	padding: 2rem 0;
	margin-top: 0rem;
	width: 100vw;
	
}
section h2{
	text-align: center;
	margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
	line-height: 1.2;
}
h1{
	font-size: 2.4rem;
}
h2{
	font-size: 2rem;	
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.3rem;
}
a{
	color: var(--color-white);
	transition:  var(--transition);
}
img{
	display: block;
	width: 100%;
	object-fit: cover;
}
.btn{
	display: inline-block;
	background: var(--color-primary);
	color: whitesmoke;
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
	border-radius: 2rem;
}
.btn:hover{
	background: transparent;
	color: var(--color-white);
	border-color: var(--color-white);
}
.btn-primary{
	background: var(--color-red);
	color: var(--color-white);
}
nav{
	background: var(--color-primary);
	width: 100vw;
	height: 5rem;
	position: fixed;
	top: 0: ;
	z-index: 11;
	padding: 0% 2%;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: black;
	margin-top: 0;		
}

.window-scroll{
	background: var(--color-primary);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: black;
	padding: 0.5% 2%;
}
nav button{
	display: none;
}
.nav_container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.avatar{
	width: 2.5rem;	
	height: 2.5rem;
	border-radius: 50%;
	overflow: hidden;
	border: 0.1rem solid var(--color-white);
	right: 5%;

}
.nav_logo{
	font-weight: 600;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Rubik Moonrocks', cursive;
	color: var(--color-yellow);
}
.nav_items{
	display: flex;
	align-items: center;
	gap:  4rem;
	right: 2%;
	padding-right: 10%;
}
.nav_items a{
	font-size: 0.9rem;
	transition: var(--transition);
}
.nav_items a:hover{
	color: var(--color-yellow-green);
}
.nav_profile{
	position: relative;
	cursor: pointer;

}
.nav_profile ul{
	position: absolute;
	top: 125%;
	right: 2%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);	
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);
}

.nav_profile:hover ul{
	visibility: visible;
	opacity: 1;
}



.login{
	display: grid;
	height: 70vh;
	place-items: center;
}
.login_container{
	width: var(--form-width);
	margin-top: 1rem;
	margin-bottom: 0rem;
}
.login_container h4{
	padding-bottom: 2rem;
	margin-bottom: 0.3rem;
	margin-top: 9rem;
}

.alert_message{
	background: red;
	padding: 0.8rem 1.4rem;
	margin-bottom: 0.1rem;
	margin-top: 0.3rem;
	border-radius: var(--card-border-radius-2);
}
.alert_message.error{
	background: var(--color-red-light);
	color: var(--color-red);
}
.alert_message.success{
	background: var(--color-green-light);
	color: var(--color-yellowgreen);
}
form{	
	display: flex;
	flex-direction: column;
	gap: 1rem;	
}
.form_control{
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
input, textarea, select{
	padding: 0.8rem 1.4rem;
	background-color: var(--color-grey-900);
	border-radius: var(--card-border-radius-2);
	resize: none;
	color: white;
	
}
.login small{
	margin-top: 1rem;	
	display: block;
}
.login small a{
	color: var(--color-primary-variant);
}
.login small a:hover{
	color: var(--color-yellow-green);
}
